@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  overflow: hidden;
  transition: 0.7s ease background;
}

.wrapper {
  height: 100vh;
}

.box {
  background-color: rgb(226, 226, 226);
  box-shadow: 10px 20px 80px rgba(0, 0, 0, 0.4);
  max-width: 100%;
}

.quote {
  font-size: 2rem;
}

.writer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.author {
  font-size: 1.6rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
}

@media screen and (max-width: 390px) {
  .buttons {
    flex-direction: column;
    height: 120px;
  }

  .btn {
    margin: 0 10px;
  }

}

